{% extends "base.html" %}

{% block body %}

<div class="about">
    <h1 class="title">О чем новелла?</h1>
    <hr class="about-hr">
    <br>
    <div class="about-image-text">
        <div class="about-text">

            Жизнь главного героя, Ромы Белова, переворачивается с ног на голову, когда на его голову буквально падает
            таинственная незнакомка, оказывающаяся самой взаправдашней инопланетянкой!
            В новелле вы сможете ознакомиться с тремя разными историями:
            <br>- Яна-рут (основной) расскажет вам о тайном сотрудничестве земной и инопланетной цивилизации.
            Ну и конечно, о том, что любви покорны любые инопланетные виды.
            <br>- Стася-рут наполнен духом приключений и авантюризма. Вы сможете узнать поближе комсомолку, спортсменку
            и просто красавицу! А может быть посотрудничать с тайной организацией по контролю инопланетян?..
            <br>- Кристина-рут приоткроет вам прошлое и настоящее, которое скрывается за
            изумрудными глазами очаровательной старосты. <br><br>
            Жанры: интрига, романтика, комедия, драма, детектив, научная фантастика, эччи. <br><br>
            Новелла будет выходить по эпизодической системе. <br>
            Первый эпизод (1-6 день всех рутов) <a href="{{ url_for('download') }}">доступен</a> бесплатно.
            Содержание остальных эпизодов будет анонсировано позже.
        </div>
    </div>
</div>
{% endblock body %}