{% extends 'base.html' %}
{% block body %}
<div class="download">
    <h1 class="title">Тизер новеллы</h1><hr class="staff-hr"><br><br>
    <iframe width="420" height="225" src="https://www.youtube.com/embed/v40JqbMYFoA"></iframe>
    <hr><br><br><br><br>
    <div class="download-ep1">
        <h1 class="title">Скачать Первый Эпизод</h1> <br>
        <hr class="staff-hr"> <br>

        <div class="staff">
            <a target="_blank" href="https://store.steampowered.com/app/1135440/Little_Green_Girl/">-Steam</a> <br><br>
            <a target="_blank" href="https://vkplay.ru/play/game/littlegreengirl/">-VK Play</a><br><br>
        </div>
    </div>

</div>
{% endblock body %}