{% extends "base.html" %}


{% block body %}

<div style="width: 100%; height: 84%; overflow-y:scroll; overflow-x:hidden;" class="about">
    <h1 class="title">Ссылки создателей</h1>
    <hr class="staff-hr">
    <br><br>
    <div class="staff">
        <a target="_blank" href="https://vk.com/lgg_vn">-Группа ВК Инопланетянки</a> <br> <br>
        <a target="_blank" href="https://www.youtube.com/@Ufo-team_vn">-Ютуб канал UFO-team</a><br><br>
        <a target="_blank" href="https://boosty.to/lgg">-Бусти UFO-team</a><br><br>
        <a target="_blank" href="https://boosty.to/orika">-Бусти Орики</a><br><br>
        <a target="_blank" href="https://t.me/little_green_girl">-Телеграм канал</a><br><br>
        <a target="_blank" href="https://vk.com/orika_art">-ВК группа Орики</a><br><br>
        <a target="_blank" href="https://vk.com/pazetic_ocean_music">-ВК группа Pazetic_Ocean</a><br><br>
        <a target="_blank" href="https://vk.com/shumoi">-ВК группа Shumoi</a><br><br>
        <a target="_blank" href="https://vk.com/moonworks">-Группа ВК Moonworks</a><br>
    </div>

</div>
{% endblock body %}